header {
    background-color: #f7d01b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

footer {
    background-color: #ffffff;
}

header, footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.25rem 1rem;
}

.sitetitle {
    font-family: 'VogaMedium', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.sitetitle:hover {
    color: black;
}

/* header naviagtion */

#nav-wrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}   

#nav-wrapper.nav-wrapper-close{
    display: none;
}

#nav-wrapper nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    height: calc(100vh - 2rem);
    width: calc(85vw - 2rem);
    box-shadow: 0 0 100px #000000;
    background-color: #f7d01b;
    transition: 0.3s;
}

#nav-wrapper nav.nav-close{
    right: -100vw;
}

#nav-wrapper nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

#nav-wrapper nav ul li {
    display: block;
    padding: 1rem 1rem;
}

#nav-wrapper nav ul li a {
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-closebutton {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    transition: 0.2s;
}

#nav-closearea {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
}

#nav-menubutton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 1rem;
    height: 1.5rem;
    width: 1.5rem;
    transition: 0.2s;
}

.nav-menubutton-ani, .nav-closebutton-ani {
    transform: scale(2.5);
    opacity: 0;
}

@media only screen and (min-width: 768px) { 

    #nav-wrapper {
        position: relative;
        top: initial;
        left: initial;
        overflow: initial;
        height: initial;
        width: initial;
    }

    #nav-wrapper.nav-wrapper-close{
        display: block;
    }

    #nav-wrapper nav {
        position: relative;
        top: initial;
        left: initial;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        height: auto;
        width: auto;
    }

    #nav-wrapper nav.nav-close{
        right: initial;
    }
    #nav-wrapper nav ul {
        display: block;
        flex-direction: initial;
        align-items: initial;
        justify-content: initial;
        height: initial;
        width: initial;
    }

    #nav-wrapper nav ul li {
        display: inline;
        padding: 0;
        margin-right: 1.5rem;
    }

    #nav-wrapper nav ul li:last-child {
        margin-right: 0;
    }

    #nav-wrapper nav ul li a {
        font-size: 1rem;
        text-transform: none;
    }

    #nav-wrapper nav ul li a:hover {
        text-decoration: underline;
    }

    #nav-menubutton, #nav-closebutton, #nav-closearea {
        display: none;
    }

}

/* footer naviagtion */

footer nav {
    position: relative;
    top: initial;
    left: initial;
    padding: 0;
    background-color: transparent;
    height: auto;
    width: auto;
}

footer nav ul li {
    display: inline;
    margin-right: 1rem;
}

footer nav ul li:last-child {
    margin-right: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: black;
}

footer nav ul li a:hover {
    text-decoration: underline;
}