*, body {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    color: #000;
}

a.button {
    background-color: rgb(161,7,104);
    border-radius: 1.75rem;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.25s;
    margin: 1rem 1rem 1rem 0;
    opacity: 1;
    display: inline-block;
}

a.button:hover {
    transition: 0.25s;
    background-color: rgba(0,0,0,1);
}
