<footer class="footer">
  <div class="footer-subscribe">
    <h2>{{ theme_var('globalTextStrings.podcastSubscribeText') }}</h2>
    {% include 'modules/podcast-subscribe.html.twig' %}
  </div>
  <div class="footer-social">
    <h2>{{ theme_var('globalTextStrings.socialShareText') }}</h2>
    {% include 'modules/social-media-accounts.html.twig' %}
  </div>
  <nav class="footer-navigation">
    <ul>
      <li><a href="{{ theme_var('globalFooter.link') }}">{{ theme_var('globalFooter.linkText') }}</a></li>
    </ul>
  </nav>
</footer>
