<header>
    <a href="index.html" class="header-sitetitle">
        <span>{{ site.title|e('html') }}</span>
    </a>
    <svg class="header-menubutton" enable-background="new 0 0 32 32" height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M1,7l30,0c0.6,0,1-0.4,1-1s-0.4-1-1-1L1,5C0.4,5,0,5.4,0,6C0,6.6,0.4,7,1,7z"/><path d="M31,14.5l-30,1c-0.6,0-1,0.5-1,1s0.5,1,1,1l30-1c0.6,0,1-0.5,1-1C32,14.9,31.5,14.5,31,14.5z"/><path d="M31,25.8l-30-1.6c-0.6,0-1,0.4-1.1,0.9c0,0.6,0.4,1,0.9,1.1l30,1.6c0.6,0,1-0.4,1.1-0.9 C32,26.3,31.6,25.8,31,25.8z"/></svg>
    <div class="header-wrapper header-wrapper-closed">
        {% block header_navigation %}
        <nav id="header-menu header-menu-closed">
            {% include 'modules/navigation.html.twig' %}
            <svg id="header-closebutton" enable-background="new 0 0 32 32" height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z" fill="#121313" /><g/><g/><g/><g/><g/><g/></svg>
            <div id="header-closebutton-area"></div>
        </nav>
        {% endblock %}
    </div>
</header>