{% set instagramUrl = theme_var('socialMediaAccount.instagramUrl') %}
{% set facebookUrl = theme_var('socialMediaAccount.facebookUrl') %}
{% set linkedinUrl = theme_var('socialMediaAccount.linkedinUrl') %}


{% if (instagramUrl is defined and instagramUrl is not empty) or (facebookUrl is defined and facebookUrl is not empty) or (linkedinUrl is defined and linkedinUrl is not empty) %}
<div>Social Media Links
    {% if instagramUrl is defined and instagramUrl is not empty %}
    <div>Instagram{{ instagramUrl }}</div>
    {% endif %}
    {% if facebookUrl is defined and facebookUrl is not empty %}
    <div>MY Facebook{{ instagramUrl }}</div>
    {% endif %}
    {% if linkedinUrl is defined and linkedinUrl is not empty %}
    <div>MY INSTA{{ linkedinUrl }}</div>
    {% endif %}
</div>
{% endif %}