{% extends 'modules/base.html.twig' %}

{% block content %}

  <section class="page-header">
    <a class="button-back" href="#" onclick="history.go(-1)"></a>
    <h1 class="podcast-page-headline">
      {{ page.title }}
    </h1>
  </section>

  <section class="page-content">
    {{ page.content }}
  </section>

{% endblock %}
