{% extends 'modules/base.html.twig' %}

{% block content %}

  <section class="page-header">
    <a class="button-back" href="{{ home_url }}"></a>
    <h1 class="podcast-page-headline">
      {{ page.title }}
    </h1>
  </section>

  <section class="teaser-grid">
    {% for teaser in taxonomy.findTaxonomy({'category':'Podcast'}).order('dir','desc')  %}
      <div class="teaser-grid-item">
        {% include 'modules/podcast-teaser.html.twig' %}
      </div>
    {% endfor %}
  </section>

{% endblock %}
