{% extends 'modules/base.html.twig' %}

{% block content %}

  <section class="page-header">
    <a class="button-back" href="#" onclick="history.go(-1)"></a>
    <h1 class="podcast-page-headline">
      {{ page.title }}
    </h1>
  </section>

  <section class="teaser-grid">
    {% for teaser in taxonomy.findTaxonomy({'category':'Podcast'}).order('header.podcastMeta.date','asc')  %}
      <div class="teaser-grid-item">
        {% include 'modules/podcast-teaser.html.twig' %}
      </div>
    {% endfor %}
  </section>

{% endblock %}
