{% extends 'modules/base.html.twig' %}

{% block content %}

  <section class="page-header">
    <a class="button-back" href="#" onclick="history.go(-1)"></a>
    <h1 class="podcast-page-headline">
      {{ page.title }}
    </h1>
  </section>

  <section class="page-content">
    {% if page.media.images is defined and page.media.images is not empty %}
      {% set image = page.media.images|first %}
      <img class="floating-img" src="{{ image.url }}">
    {% endif %}
    {{ page.content }}
  </section>

{% endblock %}
